@CHARSET "ISO-8859-1";

table.liste { 
	list-style-type:none;
	padding-left:20px;
 	font-size: 16px;
 	text-align:left;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
 }
 
td.cote { 
 	background-color:#B0C4DE;
 	width:100px;
 	text-align:center;
 }

td.titre {
 	background-color:#ADD8E6;
 	width:400px;
 	text-align:left;
 	padding:3px;
 	padding-left:20px;
}

td.desc {
 	background-color:#E6E6FA;
 	width:300px;
 	text-align:left;
    padding-left:20px;
}

td.nb {
 	background-color:#ADD8E6;
 	width:200px;
 	text-align:center;
}
